@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

body {
  background-color: #222;
  color: white;
}

.title {
  font-family: 'Leckerli One', cursive;
  text-align: center;
  margin: 1em 0;
}
